node_modules/
.firebase/
android/app/build/
android/app/src/main/assets/public/
www/
dist/
build/
.DS_Store
*.log
michu-push-server/serviceAccountKey.json.jsonserviceAccountKey.json

*serviceAccount*.json
